Repository Room-Fit/frontend, pull requests merged in 2025-01, with the labels that each got.

#25 Feature#20: NavTop 컴포넌트 구현
  public/favicon.svg
  src/apps/Screen.tsx
  src/apps/layouts/NavBottom.tsx
  src/apps/layouts/NavTop.stories.tsx
  src/apps/layouts/NavTop.tsx
Labels: 기능 요청, 우선순위 (상)

#27 Feature#19: Modal 컴포넌트 구현
  chromatic.config.json
  package.json
  src/@types/index.d.ts
  src/shared/components/Modal/Modal.stories.tsx
  src/shared/components/Modal/Modal.tsx
  src/shared/components/Modal/ModalContext.tsx
  src/shared/components/Modal/ModalContextProvider.tsx
  src/shared/components/Modal/index.ts
  src/shared/components/Modal/useModal.tsx
  src/shared/components/__tests__/ModalContext.test.tsx
  src/shared/components/index.ts
  src/shared/hooks/__test__/useInitialStyle.test.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useInitialStyle.tsx
  src/shared/ui/dialog.tsx
  src/shared/ui/index.ts
  yarn.lock
Labels: 기능 요청, 우선순위 (상)

#29 Feature#8: 마이페이지 퍼블리싱
  src/apps/Screen.tsx
  src/apps/constants/nav.ts
  src/apps/layouts/NavBottom.tsx
  src/apps/stackflow.tsx
  src/features/mypage/ui/Menu.stories.tsx
  src/features/mypage/ui/Menu.tsx
  src/features/mypage/ui/MenuItem.stories.tsx
  src/features/mypage/ui/MenuItem.tsx
  src/features/mypage/ui/ProfileHeader.stories.tsx
  src/features/mypage/ui/ProfileHeader.tsx
  src/features/mypage/ui/index.ts
  src/pages/match/CreateMatchPage.tsx
  src/pages/match/MatchDetailPage.tsx
  src/pages/match/MatchListPage.tsx
  src/pages/mypage/MyPage.tsx
Labels: 기능 요청, 우선순위 (상)

#34 Feature#6: 핏글 생성 페이지 퍼블리싱
  src/pages/match/CreateMatchPage.tsx
  src/shared/ui/index.ts
  src/shared/ui/textarea.tsx
Labels: 기능 요청, 우선순위 (상)

#48 Feature#17: 회원가입 페이지 퍼블리싱
  src/apps/config/site.ts
  src/pages/auth/SignUpInfoSection.tsx
  src/pages/auth/SignUpPage.tsx
  src/pages/auth/SignUpVerifySection.tsx
  src/pages/home/HomePage.tsx
Labels: 기능 요청

#50 Style: 디자인 토큰 변경사항 적용
  src/apps/styles/color-system.mdx
  src/apps/styles/tailwind.css
Labels: 디자인 변경

#52 Design#51: 홈페이지 디자인 변경사항 적용
  public/icon/logo-horizontal-dark.png
  public/icon/logo-horizontal-white.png
  public/icon/logo-vertical-dark.png
  public/icon/logo-vertical-white.png
  src/apps/styles/tailwind.css
  src/pages/home/HomePage.stories.tsx
  src/pages/home/HomePage.tsx
  src/pages/match/MatchDetailPage.tsx
  src/shared/assets/bg-background.webp
  src/shared/components/BackDropImage.stories.tsx
  tailwind.config.js
Labels: 디자인 변경

#56 Docs#55: 기본적인 UI 컴포넌트에 대한 스토리북 문서화
  src/apps/styles/tailwind.css
  src/shared/components/CheckBoxWithLabel/CheckBoxWithLabel.stories.tsx
  src/shared/components/CheckBoxWithLabel/CheckBoxWithLabel.tsx
  src/shared/components/InputWithLabel/InputWithLabel.stories.tsx
  src/shared/ui/button.stories.tsx
  src/shared/ui/input.stories.tsx
  src/shared/ui/textarea.stories.tsx
Labels: 문서 작업

#62 Feature#18: favicon 적용 및 title 수정
  index.html
  public/favicon.svg
  public/favicon.webp
Labels: 기능 요청, 우선순위 (하)

#66 Design#65: Slider `background-color` 를 `#EFEFEF` 로 수정
  src/pages/auth/SignInPage.tsx
  src/pages/auth/SignUpVerifySection.tsx
  src/shared/ui/slider.tsx
Labels: 디자인 변경

#72 Feature#70: 룸핏 모집공고 상세페이지 디자인 변경사항 적용
  src/apps/stackflow.tsx
  src/apps/styles/tailwind.css
  src/entities/profile/ui/ProfileCard/ProfileCard.tsx
  src/entities/profile/ui/ProfileGroup/ProfileGroup.stories.tsx
  src/entities/profile/ui/ProfileGroup/ProfileGroup.tsx
  src/entities/profile/ui/RangeDisplay/RangeDisplay.tsx
  src/entities/profile/ui/TextDisplay/TextDisplay.tsx
  src/pages/match/MatchDetailPage.tsx
  src/pages/profile/ProfileDetailPage.tsx
  src/shared/components/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
  src/shared/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  src/shared/components/ToggleButtonGroup/ToggleButtonItem.stories.tsx
  src/shared/components/ToggleButtonGroup/ToggleButtonItem.tsx
Labels: 기능 요청, 우선순위 (상)

#83 Design#82: NavTop 컴포넌트에 로고 아이콘 추가
  src/apps/layouts/NavTop.stories.tsx
  src/apps/layouts/NavTop.tsx
Labels: 디자인 변경

#85 Feature#84: DangerJS 초기설정 및 CI 파이프라인 통합
  .github/workflows/ci-test.yml
  dangerfile.js
  package.json
  src/shared/utils/__tests__/TimeStampUtils.test.ts
  yarn.lock
Labels: 기능 요청

#87 Feature#86 Zustand 추가
  package.json
  public/mockServiceWorker.js
  src/apps/App.tsx
  src/apps/store/.gitkeep
  src/apps/store/auth.slice.ts
  src/apps/store/register-info.slice.ts
  src/apps/store/store.ts
  yarn.lock
Labels: 기능 요청, 우선순위 (하)

#93 Feature#40: 회원가입, 이메일 인증 API 모킹 및 연동
  src/__mocks__/auth/index.ts
  src/__mocks__/auth/signUp.ts
  src/__mocks__/browser.ts
  src/features/auth/service/emailCode.ts
  src/features/auth/service/emailVerify.ts
  src/features/auth/service/signUp.ts
Labels: 기능 요청, API 연동, 도메인 : auth

#99 Feature#98: 모킹된 로그인 API 연동 및 로그인 성공, 실패 케이스에 대한 통합테스트 작성
  babel.config.json
  fileMock.js
  jest.config.ts
  jest.setup.ts
  package.json
  src/@types/index.d.ts
  src/apps/App.tsx
  src/features/auth/__tests__/signIn.test.tsx
  src/features/auth/__tests__/useAuth.test.ts
  src/features/auth/service/index.ts
  src/features/auth/service/signIn.ts
  src/features/auth/service/useSignIn.ts
  src/features/auth/store/useAuth.ts
  src/pages/auth/SignInPage.tsx
  src/shared/components/InputWithLabel/InputWithLabel.tsx
  src/shared/utils/renderToastFromDerivedError.ts
  yarn.lock
Labels: 우선순위 (상), API 연동, 도메인 : auth

#97 Feature#37: 핏글 상세조회 API 모킹함수 구현
  src/__mocks__/browser.ts
  src/__mocks__/fetchMatchDetail.ts
  src/__mocks__/handlers.ts
  src/__mocks__/match/index.ts
  src/__mocks__/match/lookup.ts
  src/__mocks__/match/lookupDetail.ts
  src/features/match/service/lookup.ts
  src/features/match/service/lookupDetail.ts
  src/features/match/ui/MatchInfo.tsx
  src/pages/match/MatchDetailPage.tsx
Labels: 진행중, API 연동, 도메인 : match

#101 Feature#100: 모킹된 회원가입 API 연동
  src/features/auth/__tests__/signUpValidation.test.ts
  src/features/auth/__tests__/useSignUpContext.test.ts
  src/features/auth/context/SignUpRequestContext.tsx
  src/features/auth/context/SignUpRequestContextProvider.tsx
  src/features/auth/hooks/useSignUpContext.ts
  src/features/auth/service/emailCode.ts
  src/features/auth/service/emailVerify.ts
  src/features/auth/service/index.ts
  src/features/auth/service/signUp.ts
  src/features/auth/service/useSignUp.ts
  src/pages/auth/SignUpInfoSection.tsx
  src/pages/auth/SignUpPage.tsx
  src/pages/auth/SignUpVerifySection.tsx
  src/shared/utils/zodSchemaTest.ts
Labels: 기능 요청, API 연동, 도메인 : auth

#103 Feature#37: 전체 핏글 조회 모킹API 작성
  src/__mocks__/match/index.ts
  src/__mocks__/match/lookup.ts
  src/__mocks__/match/lookupDetail.ts
  src/__mocks__/match/lookupList.ts
  src/features/match/service/lookup.ts
  src/features/match/service/lookupDetail.ts
  src/features/match/ui/MatchInfo.tsx
  src/pages/match/MatchDetailPage.tsx
  src/pages/match/MatchListPage.tsx
Labels: 진행중, API 연동, 도메인 : match

#104 Feature#28: 변경된 surveySchema 적용
  src/entities/form/__tests__/FormContext.test.tsx
  src/entities/form/__tests__/FormFactory.test.tsx
  src/entities/form/hooks/useFormStateContext.tsx
  src/entities/form/lib/FormFactory.ts
  src/entities/form/types/index.d.ts
  src/entities/form/ui/CheckBoxFormElement.stories.tsx
  src/entities/form/ui/CheckboxFormElement.tsx
  src/entities/form/ui/DoubleSliderFormElement.stories.tsx
  src/entities/form/ui/DoubleSliderFormElement.tsx
  src/entities/form/ui/DynamicForm.stories.tsx
  src/entities/form/ui/DynamicForm.tsx
  src/entities/form/ui/SelectorFormElement.stories.tsx
  src/entities/form/ui/SelectorFormElement.tsx
  src/entities/form/ui/SliderFormElement.stories.tsx
  src/entities/form/ui/SliderFormElement.tsx
Labels: 기능 요청, 도메인 : profile

#107 Feature#41: 채팅송신 및 수신 API 연동
  package.json
  src/entities/chat/ui/ChatInput/ChatInput.tsx
  src/features/chat/config/env.ts
  src/features/chat/contexts/ChatHistoryContext.tsx
  src/features/chat/hooks/useChat.ts
  src/features/chat/hooks/useChatHistory.ts
  src/main.tsx
  src/pages/chat/ChatRoomPage.tsx
  vite.config.ts
  yarn.lock
Labels: API 연동, 도메인 : chat

#110 Feature#109: 채팅방 페이지 프로필 조회 사이드바 구현
  src/entities/chat/ui/ChatNavTop/ChatNavTop.tsx
  src/entities/chat/ui/ChatProfileCard/ChatProfileCard.stories.tsx
  src/entities/chat/ui/ChatProfileCard/ChatProfileCard.tsx
  src/entities/chat/ui/ChatSideBar/ChatProfileSideBar.stories.tsx
  src/entities/chat/ui/ChatSideBar/ChatProfileSideBar.tsx
  src/entities/chat/ui/ChatSideBar/ChatSideBarProfileGroup.stories.tsx
  src/pages/chat/ChatRoomPage.tsx
  src/pages/match/MatchDetailPage.tsx
Labels: 기능 요청, 디자인 변경, 도메인 : chat

#114 Fix#111: 사이드 바 안 닫히는 현상 수정
  src/entities/chat/ui/ChatSideBar/ChatProfileSideBar.tsx
  src/pages/chat/ChatRoomPage.tsx
Labels: 버그 리포트

#116 Feature#115: 로그인 및 회원가입 API 연동
  src/features/auth/__tests__/signUpValidation.test.ts
  src/features/auth/__tests__/useSignUpContext.test.ts
  src/features/auth/context/SignUpRequestContext.tsx
  src/features/auth/context/SignUpRequestContextProvider.tsx
  src/features/auth/hooks/useNavigateSignUpSection.ts
  src/features/auth/hooks/useSignUpContext.ts
  src/features/auth/service/emailCode.ts
  src/features/auth/service/emailVerify.ts
  src/features/auth/service/signIn.ts
  src/features/auth/service/signUp.ts
  src/features/auth/service/useEmailVerify.ts
  src/features/auth/service/useSendEmailVerificationCode.ts
  src/features/auth/service/useSignUp.ts
  src/features/auth/store/useSignUpStore.ts
  src/main.tsx
  src/pages/auth/SignUpInfoSection.tsx
  src/pages/auth/SignUpPage.tsx
  src/pages/auth/SignUpVerifySection.tsx
  src/shared/types/BaseResponse.d.ts
Labels: 기능 요청, 버그 리포트, API 연동, 도메인 : auth

#121 Feature#120: `ProfileModal` 컴포넌트 구현
  src/apps/App.tsx
  src/apps/layouts/NavBottom.tsx
  src/entities/profile/ui/ProfileModal/ProfileModal.stories.tsx
  src/entities/profile/ui/ProfileModal/ProfileModal.tsx
  src/shared/components/Modal/Modal.tsx
Labels: 기능 요청, 도메인 : profile

#126 Feature#124 : Axios Interceptor 및 자동로그인 / 로그아웃 기능 구현
  src/pages/auth/SignInPage.tsx
  src/pages/mypage/MyPage.tsx
  src/shared/lib/axios.ts
Labels: 기능 요청, 도메인 : auth

#129 Feature#119: 회원가입 이메일 인증 타이머 구현
  src/features/auth/hooks/useNavigateSignUpSection.ts
  src/features/auth/hooks/useTimer.ts
  src/features/auth/service/emailVerify.ts
  src/features/auth/service/useSendEmailVerificationCode.ts
  src/features/auth/store/useSignUpStore.ts
  src/pages/auth/SignUpVerifySection.tsx
Labels: 기능 요청, 도메인 : auth

#128 Feature#125: 프로필 목록조회 페이지 퍼블리싱
  src/apps/constants/nav.ts
  src/apps/stackflow.tsx
  src/apps/types/status.ts
  src/entities/profile/ui/ProfileCard/ProfileCard.stories.tsx
  src/entities/profile/ui/ProfileCard/ProfileCard.tsx
  src/pages/profile/ProfileListPage.tsx
  src/shared/components/Card/Card.stories.tsx
  src/shared/components/Card/Card.tsx
Labels: 기능 요청, 디자인 변경, 도메인 : profile

#122 Feature#42 이전 채팅 기록 불러오기
  src/__mocks__/match/index.ts
  src/__mocks__/match/lookupDetail.ts
  src/__mocks__/match/lookupList.ts
  src/__mocks__/match/writeRecruiment.ts
  src/entities/chat/ui/ChatHistory/ChatHistoryFallback.stories.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryFallback.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryGroup.stories.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryItem.stories.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryItem.tsx
  src/features/chat/hooks/useChat.ts
  src/features/chat/hooks/useIntersectionObserver.ts
  src/features/chat/hooks/usePreviousMessageHistory.ts
  src/features/match/hooks/useCreateRecruitment.ts
  src/features/match/service/createRecruitmentPost.ts
  src/features/match/service/index.ts
  src/features/match/service/keys.ts
  src/features/match/service/readAllMatch.ts
  src/features/match/service/readMatchDetail.ts
  src/features/match/service/service.ts
  src/features/match/service/useMatchDetailById.tsx
  src/features/match/ui/MatchInfo.tsx
  src/features/match/ui/MatchListItem.tsx
  src/features/match/ui/MatchStatus.stories.tsx
  src/features/match/ui/MatchStatus.tsx
  src/features/match/ui/SelectChatType.tsx
  src/features/match/ui/SelectDormitory.tsx
  src/pages/auth/SignInPage.tsx
  src/pages/chat/ChatRoomPage.tsx
  src/pages/match/CreateMatchPage.tsx
  src/pages/match/MatchDetailPage.tsx
  src/pages/match/MatchListPage.tsx
  src/pages/mypage/MyPage.tsx
  src/shared/lib/axios.ts
  src/shared/ui/badge.tsx
Labels: 기능 요청, 진행중, API 연동

#130 Fix#42 이전 채팅 불러오기 무한 스크롤 구현
  src/__mocks__/match/index.ts
  src/__mocks__/match/lookupDetail.ts
  src/__mocks__/match/lookupList.ts
  src/__mocks__/match/writeRecruiment.ts
  src/entities/chat/ui/ChatHistory/ChatHistoryFallback.stories.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryFallback.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryGroup.stories.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryGroup.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryItem.stories.tsx
  src/entities/chat/ui/ChatHistory/ChatHistoryItem.tsx
  src/features/chat/hooks/useChat.ts
  src/features/chat/hooks/useInfObserverFetch.ts
  src/features/chat/hooks/usePreviousMessageHistory.ts
  src/features/match/hooks/useCreateRecruitment.ts
  src/features/match/service/createRecruitmentPost.ts
  src/features/match/service/index.ts
  src/features/match/service/keys.ts
  src/features/match/service/readAllMatch.ts
  src/features/match/service/readMatchDetail.ts
  src/features/match/service/service.ts
  src/features/match/service/useMatchDetailById.tsx
  src/features/match/ui/MatchInfo.tsx
  src/features/match/ui/MatchListItem.tsx
  src/features/match/ui/MatchStatus.stories.tsx
  src/features/match/ui/MatchStatus.tsx
  src/features/match/ui/SelectChatType.tsx
  src/features/match/ui/SelectDormitory.tsx
  src/pages/auth/SignInPage.tsx
  src/pages/chat/ChatRoomPage.tsx
  src/pages/match/CreateMatchPage.tsx
  src/pages/match/MatchDetailPage.tsx
  src/pages/match/MatchListPage.tsx
  src/pages/mypage/MyPage.tsx
  src/shared/lib/axios.ts
  src/shared/types/BaseResponse.d.ts
  src/shared/ui/badge.tsx
Labels: 기능 요청, 우선순위 (상), 도메인 : chat

#132 Feature#131 핏글 상세정보 API 연동
  src/__mocks__/browser.ts
  src/__mocks__/fetchMatchDetail.ts
  src/__mocks__/match/index.ts
  src/entities/chat/ui/ChatProfileCard/ChatProfileCard.stories.tsx
  src/entities/chat/ui/ChatProfileCard/ChatProfileCard.tsx
  src/entities/chat/ui/ChatSideBar/ChatProfileSideBar.stories.tsx
  src/entities/chat/ui/ChatSideBar/ChatSideBarProfileGroup.stories.tsx
  src/features/chat/hooks/useInfObserverFetch.ts
  src/features/match/service/index.ts
  src/features/match/service/readMatchDetail.ts
  src/features/match/ui/MatchFilter/MatchFilter.tsx
  src/features/match/ui/MatchInfo.tsx
  src/pages/chat/ChatRoomPage.tsx
  src/pages/match/MatchDetailPage.tsx
  src/shared/components/BackDropImage.tsx
Labels: API 연동, 도메인 : match, 도메인 : chat

#133 Feature#118: 프로필 등록, 수정 페이지 API 연동
  data/recentSurvey.json
  src/entities/form/__tests__/FormFactory.test.tsx
  src/entities/form/config/formElementTypes.ts
  src/entities/form/contexts/FormStateContextProvider.tsx
  src/entities/form/ui/DynamicForm.stories.tsx
  src/entities/form/ui/DynamicForm.tsx
  src/features/profile/service/createSurveyResponse.ts
  src/features/profile/service/index.ts
  src/pages/profile/ProfileEditPage.tsx
Labels: 기능 요청, API 연동, 도메인 : profile

#136 Fix#135: 이메일 인증시 `VERIFY_EMAIL` 상태 업데이트 로직 추가
  src/features/auth/service/useEmailVerify.ts
Labels: 버그 리포트, 도메인 : auth

#141 Feature#140 사용자 목록 조회 구현
  src/entities/profile/ui/ProfileCard/ProfileCard.stories.tsx
  src/entities/profile/ui/ProfileCard/ProfileCard.tsx
  src/features/match/hooks/useCreateRecruitment.ts
  src/features/match/service/readAllMatch.ts
  src/features/profile/service/readUserList.ts
  src/pages/match/MatchDetailPage.tsx
  src/pages/profile/ProfileListPage.tsx
  src/shared/components/Card/Card.stories.tsx
  src/shared/components/Card/Card.tsx
Labels: 진행중, API 연동, 도메인 : profile
